NEXT_PUBLIC_API_URL=

# Google Maps API
# Para obter sua chave da API:
# 1. Acesse https://console.cloud.google.com/
# 2. Crie um novo projeto ou selecione um existente
# 3. Ative a API do Google Maps JavaScript e Places API
# 4. Crie uma credencial (API Key)
# 5. Cole a chave abaixo
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
